<div class='container'>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th class='col-xs-8'>File name</th>
        <th>Tags</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>This is first file</th>
        <th>
          <span class="label label-success">Images</span>
          <span class="label label-success">Photo</span>
        </th>
        <th>
          Destroy / Edit
        </th>
      </tr>
    </tbody>
  </table>
</div>
