<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Filestorage">
      </a>
    </div>
    <% if user_signed_in? %>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
        </li>
      </ul>
    <% end %>
  </div>
</nav>

<footer class='footer'>
  <div class='container'>
    <p class='text-muted'>
      2015
    </p>
  </div>
</footer>
